*{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x:auto;

}


.section1{
    height:100vh;
    overflow-x:hidden;
}
.section1>hr{
    border: none;
    background-color: #f2c94c;
    color: #333333;
    height: 3px;
    width: 60%;
    margin-left: 8%;
}
.container1{
    margin-left: 10%;
}
.div11>h1{
    font-size: 5em;
    font-weight: 1000;
    color: #333333;
}
.div13{
    width:100%;
    position:absolute;
    bottom:0;
}
.div13>img{
    width:100%;
    height:auto !important;
}
.section3{
    height:auto ! important;
    width:100vw;

}
.div31{
    background-color:#333;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    border-radius:30px;
    overflow:hidden
   

}
.div311{
    display:inline-block;
    height:40vh;
    background-image:url("../images/restro.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:40%;
    float:left;
    padding-top:4%;
    padding-left:4%;
}
.div311>img{
    width:100%;
    border:solid 4px #f2c94c;
    border-radius:500px;

}
.div312{
    display:inline-block;
    width:50%;
    color:#ffff;
    padding-top:4%;
    padding-left:4%;
    text-align:justify;
    padding-bottom:4%;
    font-size:1em
   

}
.div313{
    display:inline-block;
    width:40%;
    margin-left:10%;
}
.div313>img{
    width:100%;
}